---
import BaseLayout from "../layouts/BaseLayout.astro";
import data from "../data/data.json";

const pageTitle = "Crew";
const smallImageSrc = "/assets/images/crew/background-crew-mobile.jpg";
const mediumImageSrc = "/assets/images/crew/background-crew-tablet.jpg";
const largeImageSrc = "/assets/images/crew/background-crew-desktop.jpg";

const pages = Array(4).fill(null);
---

<BaseLayout
  pageTitle={pageTitle}
  smallImageSrc={smallImageSrc}
  mediumImageSrc={mediumImageSrc}
  largeImageSrc={largeImageSrc}
>
  <section class="crew">
    <div class="container">
      <h2 class="page-title">
        <span>02</span>MEET YOUR CREW
      </h2>
      <div
        class="crew-members"
        data-current-id="0"
      >
        {
          data.crew.map((item, index) => (
            <div
              class:list={["crew-member", { hidden: index !== 0 }]}
              data-id={index}
            >
              <div class="crew-member__content column">
                <div class="rank-and-name column">
                  <p class="crew-member__role textpreset4">{item.role}</p>
                  <h1>{item.name}</h1>
                </div>
                <p class="crew-member__bio">{item.bio}</p>
              </div>
              <div class="pagination">
                {pages.map((_, pgIndex) => (
                  <button
                    class:list={["page", { active: index === pgIndex }]}
                    data-id={pgIndex}
                  />
                ))}
              </div>
              <div class="crew-member__image">
                <picture>
                  <source
                    srcset={item.images.webp}
                    type="image/webp"
                  />
                  <img
                    src={item.images.png}
                    alt={item.name}
                  />
                </picture>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  import "../scripts/crewTabSwitcher.js";
</script>

<style>
  .hidden {
    display: none;
  }

  .crew {
    display: flex;
    flex: 1;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .crew-members {
    display: flex;
    flex: 1;
  }

  .crew-member:not(.hidden) {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;
  }

  h1 {
    font-family: "Bellefair", serif;
    font-size: clamp(1.5rem, 0.7958rem + 3.0047vw, 3.5rem);
    font-weight: 400;
  }

  .crew-member__role {
    color: var(--color-body-text);
    opacity: 0.5;
    text-transform: uppercase;
  }

  .crew-member__content {
    justify-content: flex-start;
    flex: 1;
    gap: 1.5rem;
    padding-top: 2.5rem;
  }

  .rank-and-name {
    gap: 0.5rem;
  }

  .crew-member__image {
    height: clamp(22rem, 15.3802rem + 28.2443vw, 28.9375rem);
    padding: 0 1.5rem;
    place-content: center;
  }

  .pagination {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .page {
    background: none;
    border: none;
    padding: 0;
    border-radius: 100vh;
    background-color: #ffffff;
    height: 10px;
    opacity: 0.2;
    width: 10px;

    &.active {
      opacity: 1;
    }

    &:not(.active):hover {
      opacity: 0.5;
    }
  }

  @media (min-width: 48rem) {
    .crew-member__content {
      max-width: 66vw;
    }
  }

  @media (min-width: 64rem) {
    .crew-member:not(.hidden) {
      align-items: end;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .crew-member__content {
      align-items: flex-start;
      text-align: start;
    }
    .pagination {
      grid-column: 1;
      grid-row: 2;
    }
    .page {
      height: 15px;
      width: 15px;
    }
    .crew-member__image {
      align-self: center;
      grid-row: 1 / span 2;
    }
  }
</style>
