---
import BaseLayout from "../layouts/BaseLayout.astro";
import data from "../data/data.json";

const pageTitle = "Crew";
const smallImageSrc = "/assets/images/crew/background-crew-mobile.jpg";
const mediumImageSrc = "/assets/images/crew/background-crew-tablet.jpg";
const largeImageSrc = "/assets/images/crew/background-crew-desktop.jpg";
---

<BaseLayout
  pageTitle={pageTitle}
  smallImageSrc={smallImageSrc}
  mediumImageSrc={mediumImageSrc}
  largeImageSrc={largeImageSrc}
>
  <section class="crew">
    <div class="container">
      <h2 class="page-title">
        <span>02</span>MEET YOUR CREW
      </h2>
      <div
        class="crew-members"
        data-current-id="0"
      >
        {
          data.crew.map((item, index) => (
            <div
              class:list={["crew-member", { hidden: index !== 0 }]}
              data-id={index}
            >
              <div class="crew-member__content">
                <p class="crew-member__role">{item.role}</p>
                <h1>{item.name}</h1>
                <p class="crew-member__bio">{item.bio}</p>
              </div>
              <div class="crew-member__image">
                <picture>
                  <source
                    srcset={item.images.webp}
                    type="image/webp"
                  />
                  <img
                    src={item.images.png}
                    alt={item.name}
                  />
                </picture>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .hidden {
    display: none;
  }
</style>
