---
import BaseLayout from "../layouts/BaseLayout.astro";
import data from "../data/data.json";

const pageTitle = "Destination";
const smallImageSrc =
  "/assets/images/destination/background-destination-mobile.jpg";
const mediumImageSrc =
  "/assets/images/destination/background-destination-tablet.jpg";
const largeImageSrc =
  "/assets/images/destination/background-destination-desktop.jpg";
---

<BaseLayout
  pageTitle={pageTitle}
  smallImageSrc={smallImageSrc}
  mediumImageSrc={mediumImageSrc}
  largeImageSrc={largeImageSrc}
>
  <section class="destination">
    <div class="container">
      <h2 class="page-title">
        <span>01</span>PICK YOUR DESTINATION
      </h2>
      <div
        class="destinations"
        data-current-id="0"
      >
        <div class="destination__content column">
          <div class="destination__images">
            {
              data.destinations.map((item, index) => (
                <div
                  class:list={["destination__image", { hidden: index !== 0 }]}
                  data-id={index}
                >
                  <picture>
                    <source
                      srcset={item.images.webp}
                      type="image/webp"
                    />
                    <img
                      src={item.images.png}
                      alt={item.name}
                    />
                  </picture>
                </div>
              ))
            }
          </div>
          <div class="destination__explanation column">
            <div class="destination__tab">
              {
                data.destinations.map((item, index) => (
                  <button
                    class:list={[{ active: index === 0 }]}
                    data-id={index}
                  >
                    {item.name}
                  </button>
                ))
              }
            </div>
            <div class="destination__details">
              {
                data.destinations.map((item, index) => (
                  <div
                    class:list={[
                      "destination__detail",
                      "column",
                      { hidden: index !== 0 },
                    ]}
                    data-id={index}
                  >
                    <div class="destination__text column">
                      <h1>{item.name}</h1>
                      <p>{item.description}</p>
                    </div>
                    <div class="divider" />
                    <div class="destination__statistics">
                      <div class="statistics__item column">
                        <p class="textpreset7">Avg. distance</p>
                        <h3>{item.distance}</h3>
                      </div>
                      <div class="statistics__item column">
                        <p class="textpreset7">Est. travel time</p>
                        <h3>{item.travel}</h3>
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  import "../scripts/destinationTabSwitcher.js";
</script>

<style>
  .destination {
    display: flex;
    flex: 1;
  }
  .hidden {
    display: none;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .destinations {
    flex: 1;
    display: flex;
  }

  .destination__content {
    align-self: stretch;
    flex: 1;
    gap: 2rem;
  }

  .destination__image {
    min-height: 60vw;
    place-content: center;

    img {
      height: 40vw;
      margin: 0 auto;
      width: 40vw;
    }
  }

  .destination__details {
    display: flex;
    flex: 1;
  }

  .destination__explanation,
  .destination__detail:not(.hidden) {
    align-self: stretch;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
  }

  .destination__text {
    align-self: stretch;
    flex: 1;
    gap: 1rem;
    text-align: center;
  }

  .destination__statistics {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  .statistics__item {
    align-self: stretch;
    gap: 0.75rem;
  }

  .destination__tab {
    display: flex;
    gap: 2rem;
    justify-content: center;

    button {
      background: none;
      border: none;
      border-bottom: 3px solid transparent;
      color: inherit;
      padding: 0;
      padding-bottom: 1rem;
      text-transform: uppercase;

      /* Text Preset 8 */
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
      letter-spacing: clamp(0.125rem, 0.1335rem + -0.0094vw, 0.1313rem);

      &.active {
        border-color: #ffffff;
      }

      &:not(.active):hover {
        border-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  @media (min-width: 48rem) {
    .destination__text {
      p {
        max-width: 512px;
      }
    }

    .destination__statistics {
      flex-direction: row;
      justify-content: center;
      & > * {
        flex: 1;
      }
    }
  }

  @media (min-width: 64rem) {
    .destination__image {
      height: stretch;
      min-height: 100%;
      padding: 0 2rem;
      width: 100%;
      img {
        height: auto;
        width: 100%;
      }
    }

    .destinations {
      width: stretch;
    }
    .destination__content.column {
      align-self: stretch;
      align-items: center;
      flex-direction: row;
    }

    .destination__explanation {
      align-self: center;
      align-items: flex-start;
      flex: 1;
      gap: 2.5rem;
      text-align: start;
      padding: 0 3rem;
    }

    .destination__detail.column {
      gap: 2.5rem;
    }
    .destination__text {
      text-align: start;
      p {
        max-width: 445px;
      }
    }

    .destination__statistics {
      text-align: start;
    }
  }
</style>
