---
import Header from "../components/Header.astro";

import "../styles/global.css";
import Meta from "@components/Meta.astro";
const { pageTitle, description, largeImageSrc, mediumImageSrc, smallImageSrc } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <Meta
      title={pageTitle}
      description={description}
    >
      <slot
        name="schema"
        slot="schema"
      />
    </Meta>
  </head>
  <body>
    <!-- Screen reader skip main nav -->
    <a
      class="skip"
      aria-label="skip to main content"
      href="#main"
    >
      Click To Skip To Main Content
    </a>

    <picture class="body-background">
      <source
        media="(min-width: 64rem)"
        srcset={largeImageSrc}
      />
      <source
        media="(min-width: 64rem)"
        srcset={mediumImageSrc}
      />
      <img
        src={smallImageSrc}
        alt="space scene"
        class="bg-img"
      />
    </picture>

    <Header title={pageTitle} />
    <main id="main">
      <slot />
    </main>

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  .body-background {
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
  .bg-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
</style>
